html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.canvas {
  width: 80vw;  /* Ensures it takes the full viewport width */
  height: 80vh; /* Ensures it takes the full viewport height */
  display: block; /* Ensures the canvas is a block-level element, removing any default inline spacing */
}

.container {
  width: 100vw;  /* Ensures it takes the full viewport width */
  height: 100vh; /* Ensures it takes the full viewport height */
  display: block; /* Ensures the canvas is a block-level element, removing any default inline spacing */
}
